@{
ViewBag.Title = "Edit";
Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Müşteri Düzenleme Formu</h2>
    </div>
    <div class="panel-body panel-yukseklik">
        <form method="POST">
            <div class="form-group">
                <label for="adi">Müşteri Adı</label>
                <input type="text" name="adi" id="adi" class="form-control" placeholder="Müşteri Adı" value="@Model.MusteriAd" required>

            </div>
            <div class="form-group">
                <label for="soyadi">Müşteri Soyadı</label>
                <input type="text" name="soyadi" id="soyadi" class="form-control" placeholder="Müşteri Soyadı" value="@Model.MusteriSoyad" required>

            </div>
            <button type="submit" class="btn btn-sm btn-warning btn-block">Güncelle</button>
        </form>
    </div>
</div>

<hr>